<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twinnect</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="myCtrl">

    <div id="wrapper">

        <!-- Sidebar -->
                <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Twinnect
                    </a>
                </li>
                <li>
                    <a href="afterLogin.html">Tweet Dashboard</a>
                </li>
                <li>
                    <a href="mapTweets.html">Map Tweets</a>
                </li>
                <li>
                    <a href="sentinents.html">Sentinent</a>
                </li>
                <li>
                    <a href="followersMap.html">Followers Map</a>
                </li>
                <li>
                    <a href="triviaZone.html">Fan Zone</a>
                </li>
                <li>
                    <a href="twitterNews.html">Twitter News</a>
                </li>
                <li>
                    <a href="merchandise.html">Fan Q&A</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Post a trivia</h3>
                        <textarea rows="4" cols="40" ng-model="trivia"></textarea>
                        <button class="btn btn-info" ng-click="triviapost()" ng-show="trivia!=''"> Post Trivia</button>
                        <button class="btn btn-info" ng-click="random()"> Post Random Trivia</button>
                        
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-12">
                       <h5> Get Trivia Winner</h5>
                        <p><button class="btn btn-success" ng-click="getWinner()">Get Winner</button>
                       <div ng-show="winner!=''">
                            <img src="{{winner.user.profile_image_url}}" style="border-radius:25px;">
                            {{winner.user.screen_name}}
                         </div> 
                         <span ng-show="winner==''"> No Trivia Winner Yet</span>
                          </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h5> Pick Lucky New Follower</h5>
                        <p><button class="btn btn-success" ng-click="getFollower()">Get Follower</button>
                        <div>
                            <img src="{{follower.profile_image_url}}" style="border-radius:25px;">
                            {{follower.screen_name}}
                         </div>   

                       </p>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-lg-12">
                        <h5>Get Most Retweeted post</h5>
                        <p><button class="btn btn-success" ng-click="getRetweeter()">Get Most Retweeted Post</button>
                        <div>
                            <img src="{{retweeter.user.profile_image_url}}" style="border-radius:25px;">
                            {{retweeter.user.screen_name}}
                         </div>  
                    </div>
                </div>
                 <div class="row">
                    <div class="col-lg-12">
                        <h5>Get Best post</h5>
                        <p><button class="btn btn-success" ng-click="getBest()">Get Best Post</button>
                        <div>
                            <img src="{{best.user.profile_image_url}}" style="border-radius:25px;">
                            {{best.user.screen_name}}
                         </div>  

                      </p> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Help Out a Random Fan</h5>
                        <p><button class="btn btn-success" ng-click="getHelp()">Help a Fan</button>
                        <div>
                            <img src="{{help.user.profile_image_url}}" style="border-radius:25px;">
                            {{help.user.screen_name}}
                         </div>  
                       </p> 
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/triviaZone-angular.js"></script>
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
